#Unity  

UnityDataKeepersProj/[Ll]ibrary/
UnityDataKeepersProj/[Tt]emp/
UnityDataKeepersProj/[Oo]bj/
UnityDataKeepersProj/[Bb]uild/
UnityDataKeepersProj/[Bb]uilds/
UnityDataKeepersProj/Assets/AssetStoreTools*
UnityDataKeepersProj/ExportedObj/
UnityDataKeepersProj/*.csproj
UnityDataKeepersProj/*.unityproj
UnityDataKeepersProj/*.sln
UnityDataKeepersProj/*.suo
UnityDataKeepersProj/*.tmp
UnityDataKeepersProj/*.user
UnityDataKeepersProj/*.userprefs
UnityDataKeepersProj/*.pidb
UnityDataKeepersProj/*.booproj
UnityDataKeepersProj/*.svd
UnityDataKeepersProj/*.pidb.meta
UnityDataKeepersProj/*sysinfo.txt
UnityDataKeepersProj/Assets/DeveloperPlugins/
UnityDataKeepersProj/Assets/DeveloperPlugins.meta
UnityDataKeepersProj/Assets/StreamingAssets/DataKeepers/
UnityDataKeepersProj/Assets/Scripts/Generated/
UnityDataKeepersProj/Assets/Scripts/Generated.meta

UnityDataKeepersCore/UnityDataKeepers/obj/
UnityDataKeepersCore/UnityDataKeeperTests/obj/
UnityDataKeepersCore/UnityDataKeepers.v12.suo
UnityDataKeepersCore/UnityDataKeepers/bin/
UnityDataKeepersCore/UnityDataKeeperTests/bin/
